<div class="banner2">            
	<ul>      
	    <!-- slide 1 -->
	    <li data-transition="premium-random">
	    	<img src="images/slideshow/sld_imgbg1.jpg" alt="">                    
	        <div class="caption general_caption pst_media6 lfl"  data-x="58" data-y="100" data-speed="2200" data-endspeed="900" data-start="400" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><h2 class="bold border3">Web应用开发</h2></div>
	        <div class="caption general_caption lfl"  data-x="58" data-y="165" data-speed="2200" data-endspeed="900" data-start="800" data-end="8100" data-easing="easeOutExpo" data-endeasing="easeInBack">
							<p>
							  我们提供专业快速的WEB应用开发，帮助您快速、安全的制作您销售网站与系统。
								<br/>专业、高效、安全、可维护是我们一致追求的目标</p>
							</div>
	        <div class="caption pst_media7 lfl" data-x="58" data-y="257" data-speed="2000" data-start="1400" data-end="8000" data-easing="easeOutExpo"><a class="button small green">了解更多</a></div>
	        <div class="caption pst_media8 lfl" data-x="175" data-y="257" data-speed="2000" data-start="1000" data-end="8000" data-easing="easeOutExpo"><a class="button small white">查看案例</a></div>  
	</li>
    
	    <!-- slide 2 -->
	    <li data-transition="premium-random">
	    	<img src="images/slideshow/sld_imgbg2.jpg" alt="">                    
	        <div class="caption general_caption pst_media6 lfl"  data-x="58" data-y="100" data-speed="2200" data-endspeed="900" data-start="400" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><h2 class="bold border3">iOS、安卓应用开发</h2></div>
	        <div class="caption general_caption lfl"  data-x="58" data-y="165" data-speed="2200" data-endspeed="900" data-start="800" data-end="8100" data-easing="easeOutExpo" data-endeasing="easeInBack">
						<p>我们提供专业的iOS与安卓APP定制服务，使您的服务变更加触手可及、尽在掌握。</p>
					</div>
	        <div class="caption pst_media7 lfl" data-x="58" data-y="257" data-speed="2000" data-start="1400" data-end="8000" data-easing="easeOutExpo"><a class="button small green">了解更多</a></div>
	        <div class="caption pst_media8 lfl" data-x="175" data-y="257" data-speed="2000" data-start="1000" data-end="8000" data-easing="easeOutExpo"><a class="button small white">查看案例</a></div>  
	</li>
    
	    <!-- slide 3 -->
	    <li data-transition="premium-random">
	    	<img src="images/slideshow/sld_imgbg3.jpg" alt="">                    
	        <div class="caption general_caption pst_media6 lfl"  data-x="58" data-y="100" data-speed="2200" data-endspeed="900" data-start="400" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><h2 class="bold border3">Trade Admin - 贸易合同、结算管理系统</h2></div>
	        <div class="caption general_caption lfl"  data-x="58" data-y="165" data-speed="2200" data-endspeed="900" data-start="800" data-end="8100" data-easing="easeOutExpo" data-endeasing="easeInBack">
						<p>简化您的合同制作流程、规范结算工具使用流程，让本混沌的信息变得更加有价值。<br/>让您的一线业务与销售人员有更加可靠的数据支持平台。让您的后台单据部摆脱复杂的结算信息归档工作。</p>
							
	        <div class="caption pst_media7 lfl" data-x="58" data-y="257" data-speed="2000" data-start="1400" data-end="8000" data-easing="easeOutExpo"><a class="button small green">了解更多</a></div>
	        <div class="caption pst_media8 lfl" data-x="175" data-y="257" data-speed="2000" data-start="1000" data-end="8000" data-easing="easeOutExpo"><a class="button small white">查看案例</a></div>  
	</li>
	</ul>
      <div class="tp-bannertimer tp-top"></div>
          
</div>