<footer class="bg-primary short-2">
  <div class="container">
    <div class="row ui-sortable">
      <div class="col-sm-12">
        <span class="text-white">© 2013 Newnil Ltd</span>
        <span class="text-white">上海新牛科技有限公司,上海市虹口区广纪路800号虹口区科技服务中心B幢103室</span>
      </div>
    </div>
  </div>
</footer>