<div class="nav-container" id="top">
  <nav class="top-bar overlay-bar">
    <div class="container">
      <div class="row utility-menu">
        <div class="col-sm-12">
          <div class="utility-inner clearfix">
            <span class="alt-font"><i class="icon icon_pin"></i>Shanghai,China</span>

            <!--span class="alt-font"><i class="icon icon_mail"></i>hello@newnil.com</span-->
          </div>
        </div>
      </div>


    <div class="row nav-menu">
      <div class="col-md-2 col-sm-3 columns">
          <a href="#top" class="inner-link">
            <img class="logo logo-light logo-wide" alt="Logo" src="/images/logo-light.png">
            <img class="logo logo-dark logo-wide" alt="Logo" src="/images/logo-dark.png">
          </a>
        </div>

        <div class="col-md-10 col-sm-9 columns">
          <ul class="menu ui-sortable">
            
            <li><a href="#our-team" class="inner-link" target="default">Our team</a></li>
            
            
              <li><a href="#contact" class="inner-link" target="default">Contact</a></li>
            
          </ul>
        </div>
      </div>

      <div class="mobile-toggle">
        <i class="icon icon_menu"></i>
      </div>
    </div>
  </nav>
</div>