<div class="left-menu">
        
    <!-- navigation start here -->
    <nav id="mainmenu">
        <ul id="menu">
            <li class="dropdown selected"><a href="index-2.html">首页</a><span class="desc-menu">欢迎您</span>

            </li>                                                   
            <li class="dropdown"><a href="#">作品</a><span class="desc-menu">作品简介</span>
            	<ul> 
                    <li><a href="#">TradeAdmin-转口贸易合同结算管理</a></li>
                    <li><a href="#">PiaoFang-热门电影票房查询小应用</a></li>
                    <li><a href="#">Ranks-宝宝类理财收益记账助手</a></li>
                    <li><a href="#">上理果园-校园O2O零售系统</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#">关于</a><span class="desc-menu">团队成员</span>

            </li> 
            <li class="dropdown"><a href="#">联系</a><span class="desc-menu">电话及邮箱</span>
               
            </li>
        </ul>
    </nav>
    <!-- navigation end here -->  
</div>