<section class="clients-2" id="customers">
  <div class="container">
    <p class="lead">我们曾向以下企业提供服务</p>
    <div class="row text-center">
        <a href="http://www.dfs-shanghai.com/">
          <img alt="Discover信用卡" src="/images/customer/discover-logo.png"/>
        </a>
        <img alt="博纳德国际有限公司" src="/images/customer/bonald-logo.png"/>
        <img alt="CardMaster卡牌大师" src="/images/customer/cm-logo.jpg"/>
        <img alt="生菜金融" src="/images/customer/neway-logo.png"/>
        <img alt="脉络医疗" src="/images/customer/medlog-logo.png"/>
        <img alt="雷励物流 金融" src="/images/customer/shengcai-logo.png"/>


    </div>


  </div>
</section>