<section class="bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 text-center col-md-8">
        <h1>Profolio</h1>
        <p class="lead">
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="testimonials-slider text-center">
          <ul class="slides">
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
              </li>

              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
              </li>

              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
              </li>
              
              <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
              </li>
          </ul>
        <ol class="flex-control-nav flex-control-paging"></ol></div>
      </div>
    </div>
  </div>
</section>