<section class="team-1" id="our-team">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 text-center col-md-8">
        <h1>团队成员</h1>
        <p class="lead">
        </p>
      </div>
    </div>

    <div class="row text-center">
      
        <div class="team-1-member">
          <img alt="Akira Pan" class="background-image img-thumbnail" src="/images/team/akira.png">
          <h5>Akira Pan</h5>
          <p>Co-Founder</p>
          <ul class="social-icons">
            <li>
              <a href="mailto:akirapanda@newnil.com" target="default"> <i class="fa fa-envelope-o fa-lg"></i>
              </a>
            <li> 
          </ul>
        </div>
      
        <div class="team-1-member">
          <img alt="Kevin Chen" class="background-image img-thumbnail" src="/images/team/kevin.png">
          <h5>Kevin Chen</h5>
          <p>Co-Founder</p>

          <ul class="social-icons">   
            <li> <a href="mailto:kevinct@newnil.com" target="default"> <i class="fa fa-envelope-o fa-lg"></i> </a> </li>
          </ul>
        </div>
      
        <div class="team-1-member">
          <img alt="Eric Liu" class="background-image img-thumbnail" src="/images/team/eric.png">
          <h5>Eric Liu</h5>
          <p>Payment Specialist</p>
          <ul class="social-icons">
            <li>
              <a href="mailto:linuxnerd@newnil.com" target="default"> <i class="fa fa-envelope-o fa-lg"></i> </a>
            </li>
          </ul>
        </div>

        <div class="team-1-member">
          <img alt="Celery Yan" class="background-image img-thumbnail" src="/images/team/celery.png">
          <h5>Celery Yan</h5>
          <p>Project Manager</p>
          <ul class="social-icons">
            <li>
              <a href="mailto:celery.yan@newnil.com" target="default"> <i class="fa fa-envelope-o fa-lg"></i> </a>
            </li>
          </ul>
        </div>

        <div class="team-1-member">
          <img alt="Celery Yan" class="background-image img-thumbnail" src="/images/team/chris.png">
          <h5>Chris Xie</h5>
          <p>Project Manager</p>
          <ul class="social-icons">
            <li>
              <a href="mailto:chirs@newnil.com" target="default"> <i class="fa fa-envelope-o fa-lg"></i> </a>
            </li>
          </ul>
        </div>

        <div class="team-1-member">
          <img alt="Celery Yan" class="background-image img-thumbnail" src="/images/team/xoyoz.png">
          <h5>Xoyoz Li</h5>
          <p>Web Developer</p>
          <ul class="social-icons">
            <li>
              <a href="mailto:lijian@newnil.com" target="default"> <i class="fa fa-envelope-o fa-lg"></i> </a>
            </li>
          </ul>
        </div>
    </div>

  </div>
</section>