<!-- header start here -->
<header>
  	<!-- top info start here -->
  	<div id="top-info">
      	<div class="row">
          	<div class="twelve column">
                  <!-- logo start here -->
                  <div id="logo">
                  </div>           
                  <!-- logo end here -->
                  
                  <div id="top-socials">
                      <ul>                                

                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <!-- top info end here -->        
      
      <div id="mainmenu-wrapper">
       	<%=render 'shared/left_nav'%>
        <%render 'shared/right_nav'%>
      </div>
              
  </header>
  <!-- header end here -->
  
  <!-- slideshow start here -->
  <section id="slideshow-container2">
  	<%=render "shared/banner"%>
  </section>
  <!-- slideshow end here -->
         
  <!-- content section start here -->
  <section class="content-wrapper">    	
   	<div class="row special-heading">
      	<div class="twelve column text-center">
          	<h2 class="bold smallmargin-bottom">欢迎您,我们是 <span class="highlight">New Nil Stuido</span> 为您提供专业的WEB应用开发服务。</h2>
              <p class="lead">专业、高效、安全、可维护是我们一致追求的目标</p>
              <hr class="margin-top2"/>
          </div>            
              
          <div class="four column animated-column no-bg mobile-two">
              <div class="circle-border small icon-left bg-grey">
              	<i class="icon-html"></i>
              </div>
              <h3>高效WEB应用开发</h3>
              <p class="text-overflow">我们使用Rails框架进行快速、高效的WEB应用开发，加快应用的开发速度，减少更多的开发成本。</p>
          </div>
          
          <div class="four column animated-column no-bg mobile-two">
              <div class="circle-border small icon-left bg-grey">
              	<i class="icon-barchart"></i>
              </div>
              <h3>专业的团队</h3>
              <p class="text-overflow">我们的小伙伴都曾供职于国内外知名的银行与支付企业，有着深厚的业务知识积累。</p>
          </div>
          
          <div class="four column animated-column no-bg mobile-two">
              <div class="circle-border small icon-left bg-grey">
              	<i class="icon-websitebuilder"></i>
              </div>
              <h3>稳定的售后</h3>
              <p class="text-overflow">我们的工程师会在QQ与微信平台为您提供及时的售后与售前服务咨询。如任何问题欢迎联系我们。</p>
          </div>
          
          <!--div class="four column animated-column no-bg mobile-two">
              <div class="circle-border small icon-left bg-green">
              	<i class="icon-flaskfull"></i>
              </div>
              <h3>Latest Technology</h3>
              <p class="text-overflow">Reprehenderit qutai ineall voluptate consequatur velillum quim dolorem eum fugiat quvoluptas nulla pariatur</p>
          </div>
          
          <div class="four column animated-column no-bg mobile-two">
              <div class="circle-border small icon-left bg-green">
              	<i class="icon-map"></i>
              </div>
              <h3>Custom Google Map</h3>
              <p class="text-overflow">Reprehenderit qutai ineall voluptate consequatur velillum quim dolorem eum fugiat quvoluptas nulla pariatur</p>
          </div>
          
          <div class="four column animated-column no-bg mobile-two">
              <div class="circle-border small icon-left bg-green">
              	<i class="icon-shoppingbag"></i>
              </div>
              <h3>Complete Features</h3>
              <p class="text-overflow">Reprehenderit qutai ineall voluptate consequatur velillum quim dolorem eum fugiat quvoluptas nulla pariatur</p>
          </div-->
      </div>                           
  </section>
  <!-- content section end here -->
  
  <!-- featured column section start here -->
  <!--section class="featured-column">
  	<div class="row">
      	<div class="five column mobile-two">
          	<img src="images/sample_images/img-sample2.png" alt="" class="img-left" />               
          </div>
          <div class="seven column mobile-two">
          	<h2>Reasons to Choose this Template</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          	<ul class="check content-hide">
              	<li>Adipisci velit sed quia non numquam eius modi tempora incidunt ut labore</li>
                  <li>Voluptatibus maiores alias consequatur aut perferendis doloribus asperiores</li>
                  <li>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</li>
              </ul>
              <a href="#" class="button medium green">Take a Tour</a>                
          </div>
      </div>
  </section-->
  <!-- featured column section end here -->
  
  <!-- content section start here -->
  <!--section class="content-wrapper"> 
  	<div class="row smallmargin-top2">
      	<div class="eight column">
              <h3>还有疑问？</h3>
              <p class="lead">如果您对我们的服务有任务的疑问欢迎给我们来电或写邮件联系，我们的小伙伴会及时的与您进行沟通与解答。</p>
          </div>
          <div class="four column animated-column no-bg smallmargin-top mobile-two">
          	<div class="note-folded special-note">
          	<div class="circle-border small icon-left special-position">
              	<i class="icon-download-alt"></i>
              </div>
              <p class="text-overflow lead"><a href="#">下载我们的介绍</a></p>
              </div>
          </div>
      </div>
  </section-->
  <!-- content section end here -->
  
  <!-- footer start here -->
  <footer>   
      <div class="row">
      	<div class="nine column">
          	<h6>联系方式</h6>
              <div class="say-hello">
              	<h4><a href="contact.html">您好!</a></h4>
              </div>
              <ul class="footer-address no-bullet">
              	<li class="address"></li>
                  <li class="phone"></li>
                  <li class="email"><a href="mailto:p.chenliang@gmail.com">电子邮件</a></li>
              </ul>
              
              <ul class="footer-link no-bullet">
              	<li><a href="#">隐私条款</a></li>
              	<li><a href="#">&copy; 2014 by NewNil Studio.All Rights Reserved.</a></li>


              </ul>		
          </div>
          
   
      </div>
  </footer>
  <!-- footer end here -->

<script>$('#noscript').remove();</script>