 <header class="header-icons overlay" style="padding-top: 251px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-white">
            我们是一家专业从事敏捷开发的技术公司<br>我们擅长以下领域
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 text-center">
          <i class="icon icon-desktop text-white"></i>
          <h2 class="text-white"> WebApp开发 </h2>
        </div>

        <div class="col-sm-4 text-center">
          <i class="icon text-white fa fa-mobile icon-large"></i>
          <h2 class="text-white"> 移动APP开发 </h2>
        </div>

        <div class="col-sm-4 text-center">
          <i class="icon icon-genius text-white"></i>
          <h2 class="text-white"> 支付账务系统 </h2>
        </div>
      </div>

    </div>
  </header>

  <section class="feature-selector" id="solution">
    <div class="container">
      <div class="row">
        <ul class="selector-tabs clearfix">
          <li class="clearfix text-primary col-md-3 col-sm-6">
            <i class="icon icon-desktop"></i>
            <span>WebApp开发</span>
          </li>

          <li class="clearfix text-primary col-md-3 col-sm-6">
            <i class="icon fa fa-weixin icon-large"></i>
            <span>移动APP开发</span>
          </li>

          <li class="clearfix text-primary col-md-3 col-sm-6">
            <i class="icon icon-genius icon-large"></i>
            <span>支付账务系统</span>
          </li>

          <li class="clearfix text-primary col-md-3 col-sm-6 active">
            <i class="icon icon-happy icon-large"></i>
            <span>项目技术咨询</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="container" >
      <ul class="selector-content">
        <li class="clearfix">
          <div class="row ui-sortable">
            <div class="col-sm-12">
              <p>
                我们主要使用的技术包括:Ruby On Rails 应用于需快速迭代的主创项目;Java 应用于大型支付账务系统;JavaScript应用于Web App与Hybrid App开发。
              </p>
              <p>
              	我们主要使用Ruby on Rails技术为您提供快速、敏捷、安全的Web应用开发服务并为数十家客户提供了贸易、电商、零售、管理领域的各种解方案。
              </p>
            </div>


          </div>
        </li>

        <li class="clearfix">
          <div class="row ui-sortable">
            <div class="col-sm-6">
              <p>
              	现在您可以利用微信公众平台服务建立属于自己的应用或让您的应用与订阅号、服务号、公司号进行接入。而从向您的客户提供工优质的服务。
              </p>
            </div>

            <div class="col-sm-6">
               <p>
               	 我们已多家客户提供专业的微信接入指导与开发服务、主要客户从事领域包括:电商、零售与教育行业。
               </p>
            </div>
          </div>
        </li>

        <li class="clearfix">
          <div class="row ui-sortable">
            <div class="col-sm-6">
              <p>
                我们为P2P贷款与小型支付公司提供支付账务核心建设与相关业务资讯。降低您在研发与合规上的投入成本。
              </p>
            </div>

            <div class="col-sm-6">
              <p>
              	
              </p> 
            </div>
          </div>
        </li>

        <li class="clearfix active">
          <div class="row ui-sortable">
            <div class="col-sm-6">
              <p>
              	如果您正打算启动一个新的项目而团队中没有相关技术人员的角色,也欢迎与我们联系。
                我们将对您的项目做出一个客观的技术评估包括风险、成本、可行性。
                如果您是一个上海本地创业团队，也欢迎来我们的办公室坐坐。
              </p>
            </div>

            <div class="col-sm-6">
               <p></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>


  <%=render "customers"%>

  


  <%render "profolio"%>

  <%=render "team"%>
  <%=render "contact"%>

  

  

